n8n_infra/trigger_file_addition.json
{
    "name": "Trigger_file_addition",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "reindex",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1060,
          -260
        ],
        "id": "d8f1651a-6c7d-41ba-a671-7455ee9e7607",
        "name": "Webhook",
        "webhookId": "65c17095-6b10-4886-b0a5-7853cd5aeed2"
      },
      {
        "parameters": {
          "command": "mkdir -p /tmp/n8n\ntouch /tmp/n8n/last_seen.txt\n\ncurrent_list=$(find /data -type f -exec stat -c \"%n %Y\" {} \\; | sort)\ncurrent_hash=$(echo \"$current_list\" | sha256sum | awk '{print $1}')\nlast_hash=$(cat /tmp/n8n/last_seen.txt 2>/dev/null)\n\nif [ \"$current_hash\" != \"$last_hash\" ]; then\n  echo \"$current_hash\" > /tmp/n8n/last_seen.txt\n  echo  '{\"newFile\": true}'\nelse\n  echo  '{\"newFile\": false}'\nfi\n"
        },
        "name": "Check New File",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -800,
          -260
        ],
        "id": "f0839547-ad99-40e1-922b-0032dfd7ae1b",
        "alwaysOutputData": false,
        "notesInFlow": false
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  return {\n    json: JSON.parse(item.json[\"stdout\"] || item.json[\"data\"]),\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -600,
          -260
        ],
        "id": "e7b3866c-452e-49f1-be78-c975593c38b8",
        "name": "Code1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "28d2e7af-8930-44d7-a07d-d34baea4b7ec",
                "leftValue": "={{ $json[\"newFile\"] }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -380,
          -260
        ],
        "id": "f0414010-80e3-46a7-ad1e-5cc356680c10",
        "name": "If1"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "http://rag-agent.ollama.svc.cluster.local/reindex",
          "jsonParameters": true,
          "options": {}
        },
        "name": "Trigger Reindex",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -120,
          -280
        ],
        "id": "165f680f-5074-40cb-8f1a-d415a1668223"
      }
    ],
    "pinData": {},
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Check New File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check New File": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Trigger Reindex",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "executionTimeout": -1
    },
    "versionId": "23ff6a7d-8119-41fc-8a99-2c6340a9d76a",
    "meta": {
      "instanceId": "18a1385b7565442f70dcd26eb8a9a3d5e7ba2a717d23bf1ad65b0492c02893dc"
    },
    "id": "yOwqmq8xsZTOHp0k",
    "tags": []
  }